# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [19]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Esperance,AU,-33.8667,121.9000,47.93,77,1,9.13,clear sky
1,1,Barrow,US,71.2906,-156.7887,33.82,80,75,19.57,broken clouds
2,2,Jamestown,US,42.0970,-79.2353,52.02,66,100,14.97,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,33.01,98,11,2.46,few clouds
4,4,Ostrovnoy,RU,68.0531,39.5131,41.22,87,22,11.95,few clouds
5,5,Yeppoon,AU,-23.1333,150.7333,64.18,80,9,8.84,clear sky
6,6,Albany,US,42.6001,-73.9662,71.17,68,26,12.24,scattered clouds
7,7,Rio Gallegos,AR,-51.6226,-69.2181,48.25,43,40,24.16,scattered clouds
8,8,Avarua,CK,-21.2078,-159.7750,73.45,88,75,4.61,broken clouds
9,9,Nawalapitiya,LK,7.0559,80.5348,68.92,90,98,1.74,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [20]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 70

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [21]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(20)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Nawalapitiya,LK,7.0559,80.5348,68.92,90,98,1.74,overcast clouds
10,10,Chuy,UY,-33.6971,-53.4616,67.21,43,2,13.96,clear sky
14,14,Necochea,AR,-38.5473,-58.7368,66.78,47,8,14.92,clear sky
28,28,East London,ZA,-33.0153,27.9116,65.34,77,20,5.75,few clouds
55,55,Batangafo,CF,7.3008,18.2833,69.06,97,96,1.95,overcast clouds
56,56,Castro,BR,-24.7911,-50.0119,65.10,58,72,11.45,broken clouds
59,59,Springbok,ZA,-29.6643,17.8865,67.84,19,0,5.26,clear sky
62,62,Lashio,MM,22.9333,97.7500,65.64,99,7,0.16,clear sky
87,87,Port Hedland,AU,-20.3167,118.5667,69.85,94,7,8.05,clear sky
98,98,Saint-Philippe,RE,-21.3585,55.7679,69.39,77,29,12.82,scattered clouds
129,129,Namibe,AO,-15.1961,12.1522,66.31,82,41,5.59,scattered clouds
133,133,Marawi,PH,7.9986,124.2928,69.69,93,100,2.84,overcast clouds
147,147,Sciacca,IT,37.5082,13.0881,70.00,76,57,4.27,broken clouds
149,149,Puerto Madryn,AR,-42.7692,-65.0385,66.11,37,89,14.52,overcast clouds
156,156,Muros,ES,42.7762,-9.0603,67.08,84,73,15.30,broken clouds
176,176,Lufilufi,WS,-13.8745,-171.5986,69.58,76,98,21.63,overcast clouds
207,207,Shimoda,JP,34.6667,138.9500,65.03,84,100,8.70,overcast clouds
208,208,Mahanoro,MG,-19.9000,48.8000,67.24,82,1,2.21,clear sky
221,221,Cidreira,BR,-30.1811,-50.2056,69.48,54,49,17.69,scattered clouds
268,268,Yafran,LY,32.0633,12.5286,66.83,47,0,12.26,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [22]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna() 

# Display sample data
clean_travel_cities.count()

Unnamed: 0             50
City                   50
Country                50
Lat                    50
Lng                    50
Max Temp               50
Humidity               50
Cloudiness             50
Wind Speed             50
Current Description    50
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [23]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy() 

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
9     Nawalapitiya      LK     68.92     overcast clouds   7.0559   80.5348
10            Chuy      UY     67.21           clear sky -33.6971  -53.4616
14        Necochea      AR     66.78           clear sky -38.5473  -58.7368
28     East London      ZA     65.34          few clouds -33.0153   27.9116
55       Batangafo      CF     69.06     overcast clouds   7.3008   18.2833
56          Castro      BR     65.10       broken clouds -24.7911  -50.0119
59       Springbok      ZA     67.84           clear sky -29.6643   17.8865
62          Lashio      MM     65.64           clear sky  22.9333   97.7500
87    Port Hedland      AU     69.85           clear sky -20.3167  118.5667
98  Saint-Philippe      RE     69.39    scattered clouds -21.3585   55.7679

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [24]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = "" 

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Nawalapitiya,LK,68.92,overcast clouds,7.0559,80.5348,
10,Chuy,UY,67.21,clear sky,-33.6971,-53.4616,
14,Necochea,AR,66.78,clear sky,-38.5473,-58.7368,
28,East London,ZA,65.34,few clouds,-33.0153,27.9116,
55,Batangafo,CF,69.06,overcast clouds,7.3008,18.2833,
56,Castro,BR,65.10,broken clouds,-24.7911,-50.0119,
59,Springbok,ZA,67.84,clear sky,-29.6643,17.8865,
62,Lashio,MM,65.64,clear sky,22.9333,97.7500,
87,Port Hedland,AU,69.85,clear sky,-20.3167,118.5667,
98,Saint-Philippe,RE,69.39,scattered clouds,-21.3585,55.7679,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [25]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [26]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# Display sample data
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Nawalapitiya,LK,68.92,overcast clouds,7.0559,80.5348,Binara Villa
10,Chuy,UY,67.21,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
14,Necochea,AR,66.78,clear sky,-38.5473,-58.7368,dyd -mar Hotel
28,East London,ZA,65.34,few clouds,-33.0153,27.9116,Tu Casa
55,Batangafo,CF,69.06,overcast clouds,7.3008,18.2833,OCHA Office
56,Castro,BR,65.10,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
59,Springbok,ZA,67.84,clear sky,-29.6643,17.8865,Undulata Country Lodge
62,Lashio,MM,65.64,clear sky,22.9333,97.7500,Hotel CF Lashio - Burmese Only
87,Port Hedland,AU,69.85,clear sky,-20.3167,118.5667,The Esplanade Hotel
98,Saint-Philippe,RE,69.39,scattered clouds,-21.3585,55.7679,Le four à pain

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [28]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Nawalapitiya,LK,68.92,overcast clouds,7.0559,80.5348,Binara Villa
10,Chuy,UY,67.21,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
14,Necochea,AR,66.78,clear sky,-38.5473,-58.7368,dyd -mar Hotel
28,East London,ZA,65.34,few clouds,-33.0153,27.9116,Tu Casa
55,Batangafo,CF,69.06,overcast clouds,7.3008,18.2833,OCHA Office
56,Castro,BR,65.10,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
59,Springbok,ZA,67.84,clear sky,-29.6643,17.8865,Undulata Country Lodge
62,Lashio,MM,65.64,clear sky,22.9333,97.7500,Hotel CF Lashio - Burmese Only
87,Port Hedland,AU,69.85,clear sky,-20.3167,118.5667,The Esplanade Hotel
98,Saint-Philippe,RE,69.39,scattered clouds,-21.3585,55.7679,Le four à pain

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [29]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [30]:
# Set the file name.
output_data_file = "WeatherPy_Vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [31]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [32]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Binara Villa</dd>\n<dt>City</dt><dd>Nawalapitiya</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 68.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nuevo Hotel Plaza</dd>\n<dt>City</dt><dd>Chuy</dd>\n<dt>Country</dt><dd>UY</dd>\n<dt>Current Weather</dt><dd>clear sky and 67.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>dyd -mar Hotel</dd>\n<dt>City</dt><dd>Necochea</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 66.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tu Casa</dd>\n<dt>City</dt><dd>East London</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>few clouds and 65.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OCHA Office</dd>\n<dt>City</dt><dd>Batangafo</dd>\n<dt>Country</dt><dd>CF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 69.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CHACARA BAILLY</dd>\n<dt>City</dt><dd>Castro</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 65.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Undulata Country Lodge</dd>\n<dt>City</dt><dd>Springbok</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 67.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel CF Lashio - Burmese Only</dd>\n<dt>City</dt><dd>Lashio</dd>\n<dt>Country</dt><dd>MM</dd>\n<dt>Current Weather</dt><dd>clear sky and 65.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Esplanade Hotel</dd>\n<dt>City</dt><dd>Port Hedland</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 69.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 69.39 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [33]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
9    7.0559   80.5348
10 -33.6971  -53.4616
14 -38.5473  -58.7368
28 -33.0153   27.9116
55   7.3008   18.2833
56 -24.7911  -50.0119
59 -29.6643   17.8865
62  22.9333   97.7500
87 -20.3167  118.5667
98 -21.3585   55.7679

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [34]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure()
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))